@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
  font-family: 'Patrick Hand';
  src: url('./fonts/patrick.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Qwitcher Grypen';
  src: url('./fonts/grypen.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/popinsregular.woff2') format('woff2'); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  .text-decoration-gold {
    text-decoration-color: #B45309; 
  }
}
.overflow-hidden {
  overflow: hidden;
}
